<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySiteOne | Login</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <div>
            <label for="name">Username</label>
            <input type="name" name="username">
        </div>
        <br>
        
        <div>
            <label for="name">Password</label>
            <input type="name" name="password">
        </div>
        <br>
        <input type="submit" name="submit" value="Submit">

        <div>
						
						<br>
                        <center>Don't have n Account ? 
						<a href="{% url 'customerregistration' %}" class="loginhere-link">Create Here</a><br>
						<a href="/forget" class="loginhere-link">Forget Password</a>
						</center>
                    </p>
					</div>
    </form>
</body>
</html>